ul.tenth,
li.tenth {
  border: lightgrey solid 1px;
  background-color: white;
}

ul.tenth {
  margin: 8px;
  padding: 8px 8px 0px 8px;
  list-style-type: none;
}

ul.tenth.isDraggingOver {
  background-color: lightgreen;
}

li.tenth {
  margin-bottom: 8px;
  padding: 8px;
  list-style-type: none;
}

li.tenth.isDragging {
  background-color: yellow;
}
